<div *ngIf="product.Title" class="card" >
    <img *ngIf="product.ImageUrl" class="card-img-top" src="{{product.ImageUrl}}" alt="{{product.Title}}" >
    <div class="card-body">
      <h5 class="card-title">{{product.Title}}</h5>
      <p class="card-text">{{product.Price| currency:'BDT' :'symbol-narrow'}}</p>
    </div>
    <div *ngIf="showActions && shoppingCart" class="card-footer">
      <button 
        *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" 
        type="button" class="btn btn-secondary btn-block" 
        (click)="addToCart()">Add to Cart</button>
  
      <ng-template #updateQuantity>
        <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
      </ng-template>
    </div>
  </div>
  